.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate>label {
    float: right;
}

.rate>label::before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

.rate .half::before {
    content: "\f005";
    position: absolute;
    padding-right: 0;
}

input:checked~label,
label:hover~label {
    color: #ffb503;
}

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #08ed41;
}

.list-group-item.active {
    z-index: 1;
    color: white;
    text-decoration: none;
    background-color: rgb(253, 148, 10);
    border: 1px solid rgb(253, 148, 10);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: white;
    color: rgb(253, 148, 10);
    border: 1px solid rgb(253, 148, 10);
}

#imgzoom:hover {
    height: 120%;
    transition: all;
    transition-duration: 0.3s;
}

#imgzoom {
    height: 100%;
}

#imgzoom2:hover {
    height: 120%;
    transition: all;
    transition-duration: 0.3s;
}

#imgzoom2 {
    height: 100%;
}

#dsh:hover {
    color: #f07d00;
    font-weight: bold;
}

#sinout:hover {
    color: #f07d00;
    font-weight: bold;
}

.list-group-item:hover {
    background-color: black;
    color: #f07d00;
}

.rating-star i {
    color: #ffb503 !important;
}

ul.thumb {
    margin: 0 auto;
    padding: 0;
    float: left;
}

ul.thumb li {
    list-style: none;
    margin: 10px;
}

.page-link:hover {
    z-index: 2;
    color: #f7a10c;
    text-decoration: none;
    background-color: #0b0a0a;
    border-color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #f07d00;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ec8602;
    border-color: #ec8602;
}

ul.thumb li img {
    width: 80px;
    height: 80px;
    border: 1px solid gray;
}